body {
	background-color: rgb(54, 229, 225); 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 900px;
	height: auto;
	width: 100%;
	display: block;
	margin: auto;

}
div {
	width: 70%;
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	padding: 50px;
}

p {
	font-size: 22px;
	font-family: Helvetica;
	line-height: 1.65
}

h1{
	font-size: 48px;
	font-family: Helvetica;
	text-align: center;
	padding-bottom: 40px;
}

a{
	text-decoration: none;
	font-size: 22px;
	color: dodgerblue;
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: 0.2s ease-in;
}

a:hover {
	color: blue;
	border-bottom-color: #929aab;
	font-size: 25px;
}